
@media screen and (max-width: 900px) {
  .orderList{
    flex-direction: column;
    .orderParktronik{
      margin: 0 auto;
    }
    .viewParktronik{
      margin: 40px auto;
      .imgSale{
        position: relative;
        right: 10px;
        top: -95px;
      }
    }
  }
  .timer{
    margin: 0 auto;
    p{
      text-align: center;
    }
    .buttonOrder{
      text-align: center;
    }
  }
    .subTitle {
      .border-bottom {
        width: 30%;
        display: block;
      }
    }

  .groupSpecification{
    flex-direction: column;
    margin: 0 20%;
    div{
      width: 100%;
      order: 2;
    }
    .secondBlockSpecification{
      order: 1;
      .border-bottom{
        display: block;
        width: 10%;
        margin: 20px 0px 0px 0px;
      }
    }
    .imgViewParktronik{
      img{
        width: 80%;
      }
    }
  }
  .border-bottom{
    display: none;
  }
  .advantagesInfo{
    flex-direction: column;
    div{
      width: 100%;
      padding-top: 30px;
    }
  }
  .video {
    position: relative;
    padding-bottom: 33.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 0 20%;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .economy{
    flex-direction: column;
    .howGirlsParking{
      text-align: center;
      margin: 0;
      width: 100%;
      .crachImg{
        justify-content: center;
        margin-left: 26px;
      }
    }
    .priceParktronik{
      width: 100%;
      text-align: center;
      margin-top: 30px;
      .plus{
        margin-left: 20%;
        margin-top: 30px;
      }
    }

  }
  .paymentWarrantly{
    flex-direction: column;
    div{
      width: 100%;
    }
  }
  .deliveryAndPayment{
    flex-direction: column;
    .deliveriRussia{
      width: 100%;
      margin-top: 30px;
      p{
        text-align: center;
      }
    }
  }
  .checkout{
    flex-direction: column;
    margin: 0;
    .orderImg{
      transform: scale(-1, 1);
      width: 100%;
      text-align: center;
      p{
        text-align: right;
        margin-right: 51px;
      }
      .sale{
        position: absolute;
        transform: scale(-0.9, 0.9);
        left: 481px;
      }
    }
  }
  .order{
    width: 100%;
    margin-top: 60px;
  }


}
@media screen and (max-width: 400px){
  .orderParktronik{
    margin: 0 5px;
    .sentence{
      h1{
        font-size: 27px;
      }
      p{
        font-size: 20px;
      }
    }
  }
  .viewParktronik{
    .imgViewParktronik{
      img{
        width: 80%;
      }
    }
    .imgSale{
      transform: scale(0.8);
      margin-bottom: -100px;
      right: -10px;
    }
  }
  .timer{
    p{
      span{
        padding: 15px 10px 15px 10px;
        font-size: 32px;
      }
    }
  }
  .subTitle{
    h3{
      font-size: 1.17em;
    }
  }
  .howGirlsParking{
    div{
      img{
        width: 80%;
      }
    }
    .crachImg{
      div{
        img{
          width: 100%;
        }
      }
    }
  }
  .priceParktronik{
    div{
      img{
        width: 80%;
      }
    }
    .plus{
      margin-left: 5%;
      margin-top: -40px;
    }
  }
  .checkout{
    .orderImg{
      .glass{
        img{
          width: 80%;
        }
      }
      .sale{
        position: relative !important;
        transform: scale(-0.4, 0.4) !important;
        left: 180px !important;
        top: 199px;
        margin-top: -271px;
      }
    }
  }
  .order{
    margin-top: 120px;
    div{
      input{
        width: 75%
      }
    }
    .buttonOrder{
      margin-top: 0px;
    }
  }
  .timer{
    p{
      img{
        position: relative;
        top: 12px;
        right: 3px;
      }
    }
  }

}
