body{
    background: black;
}
div{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}
button{
    height: 300px;
    width: 60px;
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
    background: white;
    border: 5px solid grey;
    transition: 0.2s ease;
}
button p{
    font-size: 30px;
    padding-top: 200px;
}
.click{
    transform: scale(0.9,0.9);
    border: 4px solid pink;
    margin-top: 15px;
    background: #d8d8d8;
}