@import "../aditionaly/colorSheame";


footer{
  background: $secondPrimaryColor;
  height: 125px;
  margin-top: 80px;

}

.footerSocialicons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  a{
    margin-right: 20px;
  }
  .twiter{
    background: url(../img/sprite/twiter.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
    &:hover {
      background-position: 0 28px;
    }
  }
  .vk{
    background: url("../img/sprite/vk.png");
    background-size: 100%;
    width: 37px;
    height: 25px;
    &:hover{
      background-position: 0 26px;
    }

  }
  .youtube{
    background: url("../img/sprite/youtube.png");
    background-size: 100%;
    width: 30px;
    height: 30px;
    &:hover{
      background-position: 0 26px;
    }

  }
  .insta{
    background: url("../img/sprite/insta.png");
    background-size: 100%;
    width: 27px;
    height: 30px;
    &:hover{
      background-position: 0 27px;
    }

  }
  .facebook{
    background: url("../img/sprite/facebook.png");
    background-size: 100%;
    width: 20px;
    height: 30px;
    &:hover{
      background-position: 0 28px;
    }

  }
  .telegram{
    background: url("../img/sprite/telegram.png");
    background-size: 100%;
    width: 30px;
    height: 30px;
    &:hover{
      background-position: 0 26px;
    }

  }
}